<?xml version="1.0"?>
<robot name="ydlidar_sensor" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="ydlidar_sensor" params="parent *origin name:=ydlidar">
    <!-- Joints and Links, standard URDF stuff -->
    <link name="${name}_link">
      <inertial>
        <origin xyz="-0.00029774 0.0066667 0.00013047" rpy="0 0 0" />
        <mass value="0.15717" />
        <inertia ixx="6.7885E-05" ixy="-1.3987E-07" ixz="-8.1554E-07" iyy="0.00013173" iyz="-9.0932E-08" izz="7.1972E-05" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://parc_robot_description/meshes/ydlidar.dae" />
        </geometry>
        <material name="">
          <color rgba="0.64706 0.61961 0.58824 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://parc_robot_description/meshes/ydlidar.dae" />
        </geometry>
      </collision>
    </link>

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${name}_link" />
    </joint>

    <gazebo reference="${name}_link">
      <sensor name="${name}_sensor" type="gpu_lidar">
        <pose>0 0 0 0 0 0</pose>
        <always_on>true</always_on>
        <visualize>false</visualize>
        <update_rate>40</update_rate>
        <topic>scan</topic>
        <gz_frame_id>${name}_link</gz_frame_id>
        <lidar>
          <scan>
            <horizontal>
              <samples>400</samples>
              <min_angle>-3.14</min_angle>
              <max_angle>3.14</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.12</min>
            <max>16.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </lidar>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
